

body {
  background: rgb(141, 158, 115) !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
/* .video-js{
  display: none;
} */
.Value{
  margin-top:60px;
  margin-bottom: 1rem;
  position: absolute;
  margin-left: 147px;
  font-size: 45px;
  background-image: linear-gradient(to left,  blue,green, orange, red) !important;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
};
#month{
  margin-top:75px !important;
  margin-bottom: 1rem;
  position: absolute;
  margin-left: 162px;
  font-size: 45px;
  background-image: linear-gradient(to left,  blue,green, orange, red) !important;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.monthvalue{
  margin-top:60px !important;
  margin-bottom: 1rem;
  position: absolute;
  margin-left: 135px;
  font-size: 45px;
  background-image: linear-gradient(to left,  blue,green, orange, red) !important;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
};

